.ext-customnamespace-sidebar {
    border-radius: 2px;
    margin: 1em 0;
}

.webleftbar-content {
    font-size: 0.875em;
}

.webleftbar-section {
    margin-bottom: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.webleftbar-heading {
    background: #eaecf0;
    padding: 0.5em;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    user-select: none;
}

.webleftbar-heading:hover {
    background: #e1e5e9;
}

.webleftbar-list {
    margin: 0;
    padding: 0.5em;
    list-style: none;
}

.webleftbar-list li {
    padding: 0.2em 0;
    border-bottom: 1px solid #f0f0f0;
}

.webleftbar-list li:last-child {
    border-bottom: none;
}

@media (prefers-color-scheme: dark) {

.webleftbar-heading {
    background-color: var(--background-color-base,#fff);
}
.webleftbar-heading:hover {
    background: #222;
}

.webleftbar-section {
border: 1px solid #666;
}

.webleftbar-list li,
.webleftbar-heading {
    border-bottom: 1px solid color-mix(in srgb, var(--border-color-base) 10%,#323941);

}

}

